<launch>
 
    <!-- Differential controller parameters -->
    <include file="$(find baybot_control)/launch/control.launch" />

    <node name="baybot_base" pkg="baybot_base" type="baybot_base_node" output="screen"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
        args="
            /baybot/controller/state
            /baybot/controller/position/wheel_left_joint
            /baybot/controller/position/wheel_right_joint
        "/>
</launch>
