<launch>
  <arg name="imu_with_filter" default="true"/>
  <arg name="imu_frame_id" default="imu"/>
  <arg name="imu_publish_temperature" default="false"/>
  <arg name="imu_rate" default="100.0"/>
  <arg name="imu_publish_tf" default="true"/>
  <arg name="imu_publish_debug_topics" default="false"/>

  <node name="imu" pkg="baybot_base" type="baybot_base_imu_node">
    <param name="device" value="mpu-9250"/>
    <param name="frame_id" value="$(arg imu_frame_id)"/>
    <param name="publish_temperature" value="$(arg imu_publish_temperature)"/>
    <param name="rate" value="$(arg imu_rate)"/>
  </node>

  <node if="$(arg imu_with_filter)" name="imu_filter" pkg="imu_filter_madgwick" type="imu_filter_node">
    <param name="use_mag" value="false"/>
    <param name="publish_tf" value="$(arg imu_publish_tf)"/>
    <param name="publish_debug_topics" value="$(arg imu_publish_debug_topics)"/>
  </node>

</launch>
